:root {
	--wood-bg: #f5f5cc;
	--wood-fg: #ae6720;
	--wood-bg-selected: #fcffd4;
}
body {
	background-color: black;
	background-image: url("/static/img/bg.png");
	background-size: 100% auto;
	background-repeat: repeat;
	background-position: center;
}
.wooden-frame {
	border-width: 20px;
	border-style: solid;
	border-color: orange;
	box-shadow: 0px 0px 7px 2px #00000088;
	
	border-image: url("/static/img/wood-texture.png") 20 round;
}
.wooden-frame-thin {
	border-width: 10px;
	border-style: solid;
	border-color: orange;
	box-shadow: 0px 0px 7px 2px #00000066;

	border-image: url("/static/img/wood-texture.png") 10 round;
}
#header {
	margin-left: 20px;
	margin-right: 20px;
	display: flex;
	justify-content: space-between;
}
#footer {
	margin-left: 20px;
	margin-right: 20px;
	display: flex;
	justify-content: space-between;
	font-family: 'Times New Roman', Times, serif;
	overflow: hidden;
}
#global-container {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	min-width: 600px;
}
#content {
	position: relative;
	top: -20px;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: auto;
	padding: 20px;
	min-height: 500px;
	/* min-width: 800px; */

	background-color: var(--wood-bg);
}
#menu {
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
	height: 50px;
	z-index: 1;
	background-color: var(--wood-bg);
	display: flex;
	justify-content: space-between;
}
div.txt-wrap-left {
	float: left;
	margin: 10px;
	margin-left: 0px;
}
div.txt-wrap-right {
	float: right;
	margin: 10px;
	margin-right: 0px;
}
.footer-links img {
	width: 32px;
	height: 32px;
}

.link-like {
	text-decoration: none;
}
.link-like:hover {
	text-decoration: underline;
}
.menu-item {
	margin: auto;
	font-size: 20px;
	color: var(--wood-fg);
	text-decoration: none;
}
.submenu-item {
	font-size: 16px;
	color: var(--wood-fg);
}
.menu-dropdown {
	position: relative;
	display: inline-block;
}
.menu-dropdown-content {
	display: none;
	left: -10px;
	position: absolute;
	background-color: var(--wood-bg);
	min-width: 200px;
	z-index: 1;
	padding: 10px;
	padding-left: 27px;
}
.menu-dropdown:hover .menu-dropdown-content {
	display: block;
}
div.tilegrid {
	display: grid;
	margin: auto;
	grid-template-columns: 50% 50%;
	max-width: 800px;
}
.tilegrid-item {
	display: block;
	margin: 10px;
}
.tilegrid-item-cover {
	display: block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 200px;
	position: relative;
	z-index: 1;
}
.tilegrid-item-desc {
	position: relative; 
	text-align: center;	
	top: -10px;
	padding: 5px;
	width: 50%;
	margin: auto;
}
.tilegrid-item-desc a {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 16px;
}
.message-container {
	display: flex;
	justify-content: stretch;
	/* height: 150px; */
	color: var(--wood-fg)	
}
.message-avatar {
	margin-right: 20px;
	margin-left: 0px;
}
.message-avatar img {
	position: relative;
	width: 75px;
	height: 75px;
	object-fit: cover;
	object-position: center;
	margin: auto;
	z-index: 1;
}
.message-avatar a {
	/* position: absolute; */
	margin-left: auto;
	margin-right: auto;
}
.message-block {
	width: 100%;
	border-radius: 10px;
	box-shadow: 0px 0px 7px var(--wood-fg);
	background-image: linear-gradient(#ebe4bc 40%, #d3bf87);
}
